@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
<body>    
    <section class="section">
        <div class="container">            
            @Body
        </div>
    </section>    
</body>